.HistoryPageWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.HistoryPageWrapper h1 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
}

.DonationsHistoryCardsHeading {
  width: 100%;
  height: 69px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6eaf8;
}

.DonationsHistoryCardsInnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DonationsHistoryCardsInnerWrapper > * {
  flex: 1;
  text-align: center;
  padding: 0 5px;
  color: black;
}

.DonationsHistoryCardsHeading .DonationsHistoryCardsInnerWrapper h1 {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}

.DonationsHistoryCardsInnerWrapper h3 {
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
}

.DonationsHistoryCardsWrapper {
  width: 100%;
  height: 77%;
  overflow-y: auto;
  background: transparent;
  padding-top: 10px;
}

.DonationsHistoryCards {
  width: 100%;
  height: 69px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
