.donorloginwrapper{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.donorloginmobilewrap{
    display: none;
}
.donorlogininfowrap{
    width: 50%;
    height: 660px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.donorloginlogohold{
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.donorloginlogo{
    width: 79.65px;
}
.donorlogininfo1{
    width: 65%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.donorlogininfo1 h2{
    font-size: 20px;
    font-weight: 700;
    font-family: Poppins;
}
.donorlogininputwrapper{
    width: 360px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.donorlogininputwrapper p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 13px;
    width: 93%;
    color: #21212180;
}
.donorlogininput{
    width: 340px;
    height: 40px;
    background-color: #ededed;
    padding: 10px;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
}

.donorloginbtn{
    width: 80%;
    height: 36px;
    background-color: #c0392b;
    border-radius: 6px;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.donorloginforgotwrap{
    width: 360px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: #21212180;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donorslogimage{
    width: 35%;
    filter: drop-shadow(rgba(0, 0, 0, 0.418)0px 8px 10px);
}



@media only screen and (max-width: 1440px){
   
}
@media only screen and (max-width: 1200px){
    .donorloginwrapper{
        height: max-content;
        padding: 20px;
    }
    .donorslogimage{
        width: 38%;
    }
}




@media only screen and (max-width: 900px){  
    .donorloginwrapper{
        height: max-content;
        padding: 30px;
    }
    .donorslogimage{
        width: 38%;
    }
    
}


@media only screen and (max-width: 760px){
    .donorloginwrapper{
        height: max-content;
        padding: 20px;
    }
    .donorslogimage{
        width: 38%;
    }
}



@media only screen and (max-width: 480px) {
    .donorslogimage{
        display: none;
    }
    .donorloginlogohold{
        display: none;
    }
    .donorlogininfo1 h2{
        display: none;
    }
    .donorloginmobilewrap{
        width: 480px;
        height: 200px;
        background-color: #2C3E50;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0px 0px 80px 10px
    }
    .donorloginmobilewrap h2{
        color: white;
        font-family: Poppins;
        font-weight: 700;
        font-size: 26px;
        text-align: center;
    }
    .donorloginwrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .donorloginbtn{
        background-color: #2C3E50;
    }
}


@media only screen and (max-width: 379px) {
    .donorloginmobilewrap{
        width: 380px;
    }
}
