.headerwrapper {
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 280ms;
}

.headerwrapperfixed {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
  z-index: 999;
  transition: 280ms;
}

.notificationIconWrapper {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.notificationDot {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  color: transparent;
}

.HeaderInnerWrapper {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MobileHeader,
.mobileHeaderWrapperPusher {
  display: none;
}

.headerwrapperinner1 {
  width: 15%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerwrapperinner1 img {
  width: 150px;
}
.headerwrapperinner2 {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
}

.headerul {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.headerli {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.headerliactive {
  border: 1px solid #c0392b;
}
.headerwrapperinner3 {
  width: 30%;
  height: 80px;
  display: flex;
  /* justify-content: space-; */
  align-items: center;
  gap: 10px;
}
.headerbtn {
  width: 120px;
  height: 40px;
  background-color: #c0392b;
  color: white;
  border-radius: 6px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(192, 57, 43, 0.3);
  transition: all 0.3s ease;
}
.headerbtn:hover {
  background-color: rgba(192, 57, 43, 0.8);
  color: #fff;
  transform: translateX(-2px);
}
.headerbtn1 {
  width: 120px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #c0392b;
  border-radius: 6px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid rgba(192, 57, 43, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(192, 57, 43, 0.1);
  transition: all 0.3s ease;
}
.headerbtn1:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  transform: translateY(-2px);
}

.mobileSearchInputWrapper {
  width: 60%;
  height: 60%;
  padding: 10px 15px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: whitesmoke;

  input {
    width: 95%;
    height: 100%;
    outline: none;
    border: 0;
  }
}

.headerProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: whitesmoke;
  cursor: pointer;
}

.headerProfilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.logo-breath {
  animation: breathing 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes breathing {
  0% {transform: scale(1);}
  25% {transform: scale(1.1);}
  50% {transform: scale(1);}
  75% {transform: scale(0.9);}
  100% {transform: scale(1);}

}

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 760px) {
  .headerwrapper {
    display: none;
  }

  .MobileHeader {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .mobileHeaderWrapperPusher {
    display: block;
    width: 100%;
    height: 80px;
  }

  .MobileHeader img {
    width: 40px;
  }

  .sideDrawerNavigateHolder {
    width: 100%;
    height: max-content;
  }

  .sideDrawerNavigateHolder ul {
    width: 100%;
    height: max;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .sideDrawerNavigateHolder ul button:nth-child(2) {
    width: 100%;
    height: max-content;
    padding: 10px 0px;
    font-size: 17px;
    color: white;
    border-radius: 7px;
    background: rgba(192, 57, 43, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.3s;
  }

  .sideDrawerNavigateHolder ul button:nth-child(2):hover {
  background: rgba(192, 57, 43, 0.8);
}
  .sideDrawerNavigateHolder ul button:nth-child(3) {
    width: 100%;
    height: max-content;
    padding: 10px 0px;
    font-size: 17px;
    color: #c0392b;
    border-radius: 7px;
    background: 1.9px solid rgba(255, 255, 255, 0.3);
    border: 1.9px solid rgba(192, 57, 43, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.3s;
  }

  .sideDrawerNavigateHolder ul button:nth-child(3):hover {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

  .mobileSideBarProfileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    background: whitesmoke;
  }

  .mobileSideBarProfileNav:hover {
    background: rgba(128, 128, 128, 0.541);
  }

  .MobileSideProfilePic {
    width: 80px;
    height: 80px;
    padding: 2px;
    border-radius: 50%;
    background: whitesmoke;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .MobileSideProfileName {
    width: 55%;
    height: 100%;

    h1 {
      font-size: 24px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mobileSideBarIcon {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    background: #c0392b;
  }

  .sideDrawerNavigateHolder ul li {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 2px;
    background: whitesmoke;
  }

  .sideDrawerNavigateHolder ul li:hover {
    background: #c0392b;
    color: white;
  }

  .mobileLogoutPopUp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 19px;
      text-align: center;
      margin-top: 25px;

      b {
        color: red;
      }
    }

    .mobileLogoutWrapper {
      width: 70%;
      height: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      gap: 10px;

      button {
        width: max-content;
        height: max-content;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        background: red;
      }

      .MobileLogoutBtn {
        background: white;
        border: 1px solid red;
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .headerwrapper {
    display: none;
  }

  .MobileHeader {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .mobileHeaderWrapperPusher {
    display: block;
    width: 100%;
    height: 80px;
  }

  .MobileHeader img {
    width: 40px;
  }

  .sideDrawerNavigateHolder {
    width: 100%;
    height: max-content;
  }

  .sideDrawerNavigateHolder ul {
    width: 100%;
    height: max;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .sideDrawerNavigateHolder ul button:nth-child(2) {
    width: 100%;
    height: max-content;
    padding: 10px 0px;
    font-size: 17px;
    color: white;
    border-radius: 7px;
    background: #c0392b;
  }
  .sideDrawerNavigateHolder ul button:nth-child(3) {
    width: 100%;
    height: max-content;
    padding: 10px 0px;
    font-size: 17px;
    color: #c0392b;
    border-radius: 7px;
    border: 1.9px solid #c0392b;
  }

  .mobileSideBarProfileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    background: whitesmoke;
  }

  .mobileSideBarProfileNav:hover {
    background: rgba(128, 128, 128, 0.541);
  }

  .MobileSideProfilePic {
    width: 80px;
    height: 80px;
    padding: 3px;
    border-radius: 50%;
    background: whitesmoke;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .MobileSideProfileName {
    width: 55%;
    height: 100%;

    h1 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .mobileSideBarIcon {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    background: #c0392b;
  }

  .sideDrawerNavigateHolder ul li {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 2px;
    background: whitesmoke;
  }

  .sideDrawerNavigateHolder ul li:hover {
    background: #c0392b;
    color: white;
  }

  .mobileLogoutPopUp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 19px;
      text-align: center;
      margin-top: 25px;

      b {
        color: red;
      }
    }

    .mobileLogoutWrapper  button {
        width: max-content;
        height: max-content;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        background: rgba(255, 0, 0, 0.6);
        border: 1px solid rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        transition: 0.3s;
      }

       .mobileLogoutWrapper  button:hover{
        background: rgba(255, 0, 0, 0.8);
       }

      .MobileLogoutBtn {
        background: rgba(225, 225, 225, 0.3);
        border: 1px solid rgba(225, 0, 0, 0.4);
        color: black;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        transition: 0.3s;
      }

      .MobileLogoutBtn:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    
  }
}

@media only screen and (max-width: 379px) {
}
