.footerwrapper{
    width: 100%;
    height: 460px;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.footerwrapper h1{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
}
.footerlogo{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}
.footerlogo img{
    width: 15%;
}
.footernewsletter{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.footernewsletter h1{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.footerinput{
    width: 45%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footeremail{
    width: 65%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid grey;
    font-family: Poppins;
    gap: 5px;
    color: white;
}
.footeremail input::placeholder{
    color: white;
}

.footerinput button{
    width: 30%;
    height: 40px;
    background-color: #D32F2F;
    border-radius: 20px;
    font-family: Poppins;
    cursor: pointer;
    color: white;
}
.footerinput button:hover{
    background-color: rgb(232, 92, 92);
}
.footerfeatures{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featureslist{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 200;
}

