.sponsorwrapper{
    width: 100%;
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #D6EAF8;
    margin-bottom: 6%;
}

.sponsorwrapper h1{
    font-size: 36px;
    font-family: Poppins;
    font-weight: 700;
    color: black;
}

.sponsorsLogos{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media only screen and (max-width: 1440px){
   
}
@media only screen and (max-width: 1200px){
   
}


@media only screen and (max-width: 900px){  
  
    
}


@media only screen and (max-width: 760px){

}


@media only screen and (max-width: 480px) {
    .sponsorwrapper{
        height: max-content;
        gap: 10px;
        padding: 20px;
    }
    .sponsorsLogos{
        height: max-content;
    }
    .sponsorsLogos img{
        width: 50px;
    }

}




@media only screen and (max-width: 379px) {

}

